<html lang="pt">
    {% include 'templates/restrito/includes/head.twig' %}
    <body class="login-page">
    {% block content %}
        <!--Content Here-->
    {% endblock %}
    </body>
    <!-- jQuery 2.1.4 -->
    <script src="{{base_url()}}/assets/js/lib/jquery.min.js" type="text/javascript"></script>
    <!-- Bootstrap 3.3.2 JS -->
    <script src="{{base_url()}}/assets/restrito/vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
    <script src="{{base_url()}}/assets/js/lib/bootstrap-datetimepicker-retrocompatibility.js"></script>
    <![endif]-->
    <!-- AdminLTE App -->
    <script src="{{base_url()}}/assets/js/app.min.js" type="text/javascript"></script>
</html>