{% extends 'templates/front/main.twig' %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <a href="{{ base_url() }}"><b>{{ app_name }}</a>
        </div>
    </div>
{% endblock %}